.buy-now{
    background-image: linear-gradient(to bottom, #494849 0%, rgba(108, 105, 105, 0.99) 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.carousel-background-image{
    background-image: url("images/bg-1.png");
    background-repeat: no-repeat;
    background-size:contain;
}
.carousel-background{
    background-image: url("images/bg-2.png");
    background-repeat: no-repeat;
    background-size:8%;
    background-position: bottom left;
}

.carousel-indicators .active {
    background-image: linear-gradient(to bottom, #ffc61e 0%, #ffc61e 100%);
    opacity: 1;
    width: 28px;
    height: 8px;
    border-radius: 12px;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 8px;
    border-radius: 100%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: lightgray;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}
.container{
    margin-bottom: 40px;
}
.text-color-orange-type{
    color: #FFA413;
    cursor: pointer;
}
.card{
    text-align: center;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 10px 20px lightgray;
}
/*.card .image-container{*/

/*}*/
/*@media (min-width: 576px){*/

/*    .card .image-container{*/
/*        padding: 60px!important;*/
/*    }*/

/*}*/
/*@media (min-width: 770px){*/

/*    .card .image-container{*/
/*        padding: 20px!important;*/
/*    }*/

/*}*/

/*.card-img-top{*/

/*    -ms-flex-negative: 0;*/
/*    flex-shrink: 0;*/
/*    width: 50%;*/

/*}*/























@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 18px;
    }
}
